
pe.com.monitoreo/.classpath
pe.com.monitoreo/.project
*.prefs
mediciones-core/.classpath
mediciones-core/.project
mediciones-core/target/*
mediciones-services/.classpath
mediciones-services/.project
mediciones-services/target/
mediciones-services/.settings/org.eclipse.wst.common.project.facet.core.xml
mediciones-services/.springBeans
